$logoDelimiterColor: #9d5cfe;
$appbarBackground: #f8f9fd;
$appbarBorderColor: #edf3f7;
$mainMenuGradientStart: #9854ff;
$mainMenuGradientEnd: #763eff;

$appBarUserWidgetGradientStart: #9854ff;
$appBarUserWidgetEnd: #763eff;

$defaultBadgeBackground: #763eff;
$defaultBadgeColor: #FFFFFF;