$defaultTextColor: #394163;
// appbar
$appbarBackground: #f8f9fd;
$appbarBorderColor: #edf3f7;
$appbarItemsColor: #99a5c8;
$appBarUserWidgetGradientStart: #9854ff;
$appBarUserWidgetEnd: #763eff;

// menu
$logoDelimiterColor: #9d5cfe;
$mainMenuGradientStart: #9854ff;
$mainMenuGradientEnd: #763eff;

// badge
$defaultBadgeBackground: #763eff;
$defaultBadgeColor: #FFFFFF;

// WIDGETS
// app-bar notifications
$appBarNotificationBorder: #eef2f5;
$appBarSearchTextColor: rgb(153, 165, 200);

// app-bar user
$appBarUserNameColor: #F2F2F2;

// search widget
$searchResultBorder: rgb(153, 165, 200);

// app page
$pageBackground: #f8f9fd;

// info text color 
$infoTextColor: #7d8298;

// trend colors
$trendUp: #46b39d;
$trendUpRGB: rgb(70, 179, 157);
$trendDown: #e16e9f;
$trendDownRGB: rgb(225, 110, 159);
$trendFlat: #febd6d;

// text avatar
$smallTextAvatarColor: #763eff;
$smallTextAvatarBackground: #f3ecfe;

// table links color
$tableBoldLinkColor: #612e94;
$tableBoldLinkHoverColor: #7447a2;
