@import 'settings.scss';
@import 'colors.scss';
@import 'menus.scss';

.app-page {
    padding: 50px 20px;
}
.appbar {
    width: 100%;
    height: #{ $appBarHeight + 'px' };
    position: fixed;
    top: 0px; left: 0px;
    z-index: 100;
    background: #{ $appbarBackground };
    border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #{ $appbarBorderColor };
}
.appbarOpen {
    width: calc(100% - #{($menuWidth) + 'px'});
}

