@import 'settings.scss';
@import 'colors.scss';
@import 'menus.scss';

body, html, #root {
    overflow: hidden;
    height: 100%;
    max-height: 100%;
}

.app-page {
    overflow-y: auto;
    margin-top: #{ $appBarHeight + 'px' };
    height: calc(100% - #{($appBarHeight) + 'px'});
    -webkit-overflow-scrolling: touch;
    .page-content {
        padding: 0px 20px;
    }
}
.appbar {
    width: 100%;
    height: #{ $appBarHeight + 'px' };
    position: fixed;
    top: 0px; left: 0px;
    z-index: 100;
    background: #{ $appbarBackground };
    border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #{ $appbarBorderColor };
    
    display: flex;
    justify-content: center;
    align-items: center;

    .controlls-left {
        align-self: center;
    }
    .controlls-right {
        align-self: center;
    }
}
.appbarOpen {
    width: calc(100% - #{($menuWidth) + 'px'});
}

