@import 'helpers/mixing.scss';
@import 'settings.scss';
@import 'colors.scss';
@import 'menus.scss';
@import 'widgets.scss';
@import 'misc.scss';
@import 'sections.scss';

body, html, #root {
    overflow: hidden;
    height: 100%;
    max-height: 100%;
}
body, html, #root, input {
    color: #{ $defaultTextColor };
    font-family: 'Roboto', sans-serif;
}

// appbar
.appbar {
    width: 100%;
    height: #{ $appBarHeight + 'px' };
    position: fixed;
    top: 0px; left: 0px;
    z-index: 100;
    background: #{ $appbarBackground };
    border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #{ $appbarBorderColor };
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    .controlls-left {
        align-self: center;
        display: flex;
        justify-content: flex-end;        
    }
    .controlls-right {
        align-self: center;
        display: flex;
        justify-content: flex-end;
    }
    .control {
        min-width: 50px;
        align-self: center;
        display: flex;
        justify-content: center;
        position: relative;
        .badge {
            width: 18px; min-width: 18px; height: 18px; border-radius: 9px;
            background: darkviolet; color: #FFF; overflow: hidden;
            position: absolute; top: -10px; right: 0px;
            text-align: center; font-size: 12px;
        }
    }    
    .control-large {
        min-width: 80px;
    }
    .separator {
        height: #{ $appBarHeight + 'px' }; width: 1px; align-self: center;
    }
    .topbar-search {
        margin-left: 8px;
        display: flex;
        align-items: center;
    }
    .topbar-search {
        @media screen and (max-width: 970px) {
            .search-input {
                width: 270px;
            }
        }
        @media screen and (max-width: 900px) {
            .search-input {
                width: 200px;
            }
        }        
    }
    @media screen and (max-width: 500px) {
        .topbar-search {
            display: none;
        }
    }     
    @media screen and (max-width: 800px) {
        .select-language-control, .select-language-separator {
            display: none;
        }
    } 
}
.appbarOpen {
    width: calc(100% - #{($menuWidth) + 'px'});
}

.public-page {
    overflow-y: auto;
    height: 100%; padding: 20px 0px;
}

// app page
.app-page {
    background: #{ $pageBackground } !important;
    height: 100%;
    .page-content {
        overflow-y: auto;
        margin-top: #{ $appBarHeight + 'px' };
        height: calc(100% - #{($appBarHeight) + 'px'});
        -webkit-overflow-scrolling: touch;        
        .page-actions {
            display: flex; justify-content: space-between; align-items: center;
        }
        .page-header {
            min-height: 60px;
            padding: 0px 40px;
            border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #{ $appbarBorderColor };
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            .page-title {
                align-self: flex-end;
                font-weight: 400;
                font-size: 23px; 
                margin: 0px;               
            }
        }
        > .content {
            padding: 25px 40px;
        }
    }
}


