@import 'settings.scss';
@import 'colors.scss';
@import 'helpers/mixing.scss';

// MAIN MENU
.main-menu-container {
    width: 100%; height: 100%;
    @include linear-gradient(#{ $mainMenuGradientStart }, #{ $mainMenuGradientEnd });

    .main-logo-ui {
        height: #{ $mainLogoUIHeight + 'px' };
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-style: solid; border-bottom-color: #{ $logoDelimiterColor }; border-bottom-width: 1px;
        img {
            max-height: #{ $mainLogoImageMaxHeight + 'px' };
        }
    }
}
.main-navigation-ui {
    height: calc(100% - #{$mainLogoUIHeight + 'px'});
    overflow-y: auto; overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.main-navigation-ui::-webkit-scrollbar-track {
    background-color: rgba(118,62,255, .1);
}
.main-navigation-ui::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(118,62,255, .1);                            
} 
.main-navigation-ui::-webkit-scrollbar-thumb {
    background-color: rgba(152,84,255, 1);
    border-radius: 2px;
}  
// END MAIN MENU

// main sidebar 
.main-sidebar {
    width: 390px; height: 100%;
    display: flex;   
    flex-direction: column;
    .sidebar-content {
        flex: 1; background: #{ $appbarBackground };
    }
    .swipeable-views {
        height: 100%;
        .react-swipeable-view-container {
            height: 100%;
        }
    }
    .sidebar-activity, .sidebar-sales {
        height: 100%; overflow-y: auto;
        .group-content {
            .notification {
                margin-bottom: 12px;
            }
        }        
    }
    .sidebar-group {
        .group-title {
            padding: 10px 15px;
            background: #eaedfb;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 500;                
        }
        .group-content {
            padding: 15px;
        }
        .entry-title {
            display: flex; 
            align-items: flex-end; 
            justify-content: space-between;
            margin-top: 10px; margin-bottom: 25px;
            color: #{ $defaultTextColor };
            .title {
                font-size: 20px;
                font-weight: 400;
            }
            .info {
                font-size: 13px;
            }
        }
        .entry-sales-channel {
            padding: 17px 0px;
            .channel-name {
                font-size: 13px; margin-bottom: 6px;
            }
            .entry-title {
                margin: 0;
            }
            &.separator {
                border-bottom-style: solid;
                border-color: #CCC;
                border-width: 1px;
            }
        }
    }    
}
@media screen and (max-width: 767px) {
    .main-sidebar {
        width: 270px;
    }
} 