@import 'colors.scss';

// notification
.notification {
    padding: 10px; position: relative;
    background: #FFF;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 150%;
    color: #{ $defaultTextColor };
    display: flex;
    a {
        font-weight: 500;
        color: #{ $defaultTextColor };
        text-decoration: none;
    }
    .n-icon-ui {
        $avatarSize: 30;
        width: #{$avatarSize}px; height: #{$avatarSize}px; overflow: hidden; border-radius: #{$avatarSize / 2}px; margin-right: 10px;
        img { width: 100% }
    }
    .n-content {
        flex: 1;
        .time-ago {
            font-size: 12px; color: #6d79a3;
        }
        .task {
            padding: 1px 5px;
            border-radius: 9px;
            color: #FFF;                    
            &.done {
                background: #37d88a;
            }
            &.progress {
                background: #ffca59;
            }
            &.urgent {
                background: #ff4f3d;
            }                  
        }
        
    }
}

.simple-card {
    background: #FFFFFF;
    padding: 10px; position: relative;
}

// custom form elements
.custom-input {
    display: inline-block;
    width: 100%;
    position: relative;
    label {
        font-weight: 500;
        margin-bottom: 10px;
        display: block;
        font-size: 14px;        
    }
    input {
        width: 100%;
        outline: none;
        padding: 10px 20px;
        padding-left: 10px; padding-right: 30px;
        font-size: 15px;
        border-radius: 3px;
        border-width: 1px; border-style: solid; border-color: #edecf1;        
    }
    .input-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-style: italic;
        color: #cdd7e1;
    }    
}

// page loader
.page-loader { 
    position: fixed !important; left: 0; top: 0;
    height: 2px !important; width: 100%;
    z-index: 999999;
}  


// trend
.trend {
    &.trend-up {
        color: #46b39d;
    }
    &.trend-down {
        color: #e16e9f;
    }
    &.trend-flat {
        color: #febd6d;
    }
    &.trend-up-back {
        background: #46b39d;
    }
    &.trend-down-back {
        background: #e16e9f;
    }
    &.trend-flat-back {
        background: #febd6d;
    }    
}

// base chart
.base-chart {
    position: relative;
}

// horizontal list item
.horizontal-list-item {
    padding: 10px 15px;
    .avatar {
        margin-right: 15px;
    }
    .title {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    .info {
        color: #{ $infoTextColor };
        font-size: 13px;
    }
    .value {
        font-size: 14px;
    }
    &.border-bottom {
        border-bottom-style: solid; border-width: 1px; border-bottom-color: rgba($infoTextColor, .1);
    }
    &.has-url {
        cursor: pointer;
    }
    &.has-url:hover {
        background: rgba(242, 242, 242, .3);
    }    
}

// ballance indicator
.balance {
    width: 20px; height: 20px;
    border-radius: 10px; overflow: hidden;
    display: flex; justify-content: center; align-items: center;
    &.trend-up {
        background: rgba($trendUpRGB, .1)
    }
    &.trend-down {
        background: rgba($trendDownRGB, .1)
    }    
    .dot {
        width: 8px; height: 8px; border-radius: 4px;
    }
}

// tables
.table {
    thead {
        tr {
            th {
                color: #{ $defaultTextColor };
                border: none;
            }
        }
    }
    tbody {
        tr {
            background: #FFF;
            border-bottom-style: solid; border-width: 2px; border-color: #{ $pageBackground };
            td {
                border: none;
            }
        }
    }         
}

// avatar
.avatar-small {
    $avatarSize: 30;
    width: #{$avatarSize}px; height: #{$avatarSize}px; overflow: hidden; border-radius: #{$avatarSize / 2}px; margin-right: 10px;
    display: inline-block;
    img { width: 100% }
}