@import 'colors.scss';
@import 'settings.scss';
@import 'helpers/mixing.scss';

// Login
.auth-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f9f8fe;  
    .auth-window {
        position: relative;
        background: #ffffff; border-radius: 3px;
        // max-width: 370px; 
        -webkit-box-shadow: 0px 0px 28px 0px rgba(140,138,140,0.3);
        -moz-box-shadow: 0px 0px 28px 0px rgba(140,138,140,0.3);
        box-shadow: 0px 0px 28px 0px rgba(140,138,140,0.3); 
        overflow: hidden;
        
        $promoWidth: 200;
        .promo {
            position: absolute; left: 0; top: 0;
            width: #{$promoWidth}px; height: 100%;
            @include linear-gradient(#{ $mainMenuGradientStart }, #{ $mainMenuGradientEnd });
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 1;
            .auth-logo {
                width: 170px;
                img { width: 100% };
            }              
            .promo-text {
                color: #fbf9fd;
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 1px;
                text-align: center;
                padding: 0px 15px;
                line-height: 143%; 
                margin: 0px 0px;               
            }
            .social-links-list {
                margin-bottom: 40px !important;
                li {
                    a {
                        color: #FFFFFF;
                    }
                }
            }
        }      
        .right-content {
            padding-left: #{ $promoWidth}px;
            position: relative;  
            .content {          
                padding: 30px;
                padding-top: 0px; 
                max-width: 400px;                       
                .title {
                    font-weight: 400;
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 34px;
                    margin-top: 25px;
                } 
                .controls {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;            
                } 
                .separator {
                    height: 1px;
                    background: #cdd7e1;
                    margin: 26px 0px;            
                }             
            }
            .loader {               
                height: 2px; width: 100%;
            }                         
        }
        
        @media screen and (max-width: 760px) {
            .promo {
                display: none;
            }
            .right-content {
                padding-left: 0px;
            }
        }          
    }
}

// users
.users-page-content {
    @media screen and (max-width: 800px) {
        .search-widget {
            display: none;
        }
    }
    @media screen and (max-width: 1050px) {
        .phone {
            display: none;
        }
    }
    @media screen and (max-width: 900px) {
        .email {
            display: none;
        }
    }
    @media screen and (max-width: 450px) {
        .company {
            display: none;
        }
    }                    
}

// single user
.user-single {
    .profile-card {
        .unser-info {
            display: flex;
            align-items: center;
            flex-direction: column;
            $w: 100;
            .user-avatar {
                width: #{$w}px; height: #{$w}px;
                border-radius: #{ $w / 2 }px;
                overflow: hidden;
                margin-bottom: 10px;
                img {
                    width: 100%; height: 100%;
                }
            }
            .user-name {
                font-weight: 400;
                margin-bottom: 3px;
            }
            .position {
                font-size: 14px;
                color: #9a9a9a;
            }
        }
        .rating-social {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0px;
            .vertical-separator {
                width: 1px;
                background: #cfd8dc;
                height: 24px;
                padding: 0px;
                margin: 0px 10px;
            }
            .likes {
                font-size: 15px;
            }
            > span, > * {
                padding: 0px 5px;
            }
        }
        .contact-block {
            margin: 25px 0px;
            .label {
                color: #9a9a9a; font-size: 14px;
                margin-bottom: 3px;
            }
            .contact-value {
                font-size: 15px;
                line-height: 142%;
            }
        }
        .divider {
            background: rgba(207, 216, 220, .5);
        }
        .controls {
            display: flex;
            justify-content: center; align-items: center;
        }
    }
}

// invoices
.invoices-page-content {
    @media screen and (max-width: 800px) {
        .search-widget {
            display: none;
        }
    }
    @media screen and (max-width: 1050px) {
        .status, .date {
            display: none;
        }
    }
    @media screen and (max-width: 900px) {
        .amount {
            display: none;
        }
    }
    @media screen and (max-width: 450px) {
        .company {
            display: none;
        }
    }                    
}

.invoice-info-block {
    margin: 18px 0px;
    .label {
        font-weight: 500;
        margin-bottom: 10px;
        display: block;
        font-size: 14px;        
    }    
}

// messenger
.messenger-chat-rooms-content {
    .chat-room-list-item {
        padding: 15px 15px;
        border-bottom-style: solid; border-width: 1px; border-color: rgba(153, 165, 200, 0.2);
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        .avatar {
            $size: 40;
            width: #{$size}px; height: #{$size}px; border-radius: #{$size / 2}px; overflow: hidden;
            margin-right: 15px; margin-bottom: 2px;
            img {
                width: 100%;
            }
        }
        .info {
            .title {
                font-weight: 500;
                font-size: 15px;
                margin-bottom: 3px;
            }
            .excerpt {
                color: #8790b5;
                font-size: 14px;
                display: flex;
                align-items: center;
                span:first-child {
                    margin-right: 5px;
                }
                .seen {
                    color: rgb(63, 214, 152);
                }
            }
            @media screen and (max-width: 500px) {
                .excerpt {
                    display: none;
                }
            }            
        }
        .time {
            text-align: right;
            font-size: 13px;
            color: #8790b5;
            margin-bottom: 3px;
        }
        .indicators {
            color: #8790b5;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .notification {
                display: inline-block;
                background: rgb(63, 214, 152);
                height: 18px;
                padding: 2px 6px;
                margin: 0;
                line-height: 100%;
                color: #FFFFFF;
                border-radius: 12px;
                
            }
            .arrow {
                display: inline-block;
                margin-right: -7px;
                padding-top: 2px;
            }
        }
    }
    .chat-room-list-item:last-child {
        border: none;
    }
    .chat-room-list-item:hover {
        background: rgba(249, 249, 249, .5);
    }
}

// messenger chat room
.messenger-chat-room {
    padding: 0 !important;
    height: calc(100% - #{$pageHeaderMinHeight + 'px'});
    overflow-y: hidden;
    position: relative;
    .chat-body {        
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
        height: calc(100% - #{$chatBottomControlls + 'px'});
        padding: 20px 40px;
        background-repeat: repeat;
        .chat-message {
            max-width: 50%;
            padding: 15px; padding-bottom: 22px;
            margin: 17px 0px;
            position: relative;
            border-radius: 6px;
            $meColor: #eceaf8;
            $otherColor: #ffffff;
            font-size: 15px;
            position: relative;
            -webkit-box-shadow: 0px 1px 5px 0px rgba(133,133,133,0.23);
            -moz-box-shadow: 0px 1px 5px 0px rgba(133,133,133,0.23);
            box-shadow: 0px 1px 5px 0px rgba(133,133,133,0.23);      
            &.me {
                background: #{ $meColor };
                text-align: right;
                float: right;
                border-top-right-radius: 0;
            }
            &.other {
                background: #{ $otherColor };
                border-top-left-radius: 0;
                float: left;
            }
            $arrowSize: 16;
            &.other:after {
                content: '';
                position: absolute;
                left: 0;
                top: #{$arrowSize / 2}px;
                width: 0;
                height: 0;
                border: #{$arrowSize}px solid transparent;
                border-right-color: #{ $otherColor };
                border-left: 0;
                border-top: 0;
                border-bottom: -#{$arrowSize / 2}px;// 0
                margin-top: -#{$arrowSize / 2}px;
                margin-left: -#{$arrowSize}px;
            }            
            &.me:after {
                content: '';
                position: absolute;
                right: 0;
                top: #{$arrowSize / 2}px;
                width: 0;
                height: 0;
                border: #{$arrowSize}px solid transparent;
                border-left-color: #{ $meColor };
                border-top: 0;
                border-right: 0;
                border-bottom: -#{$arrowSize / 2}px;// 0
                margin-top: -#{$arrowSize / 2}px;
                margin-right: -#{$arrowSize}px;
            } 
            .user-thumb {
                width: 40px; height: 40px; overflow: hidden;
                border-radius: 20px;
                margin-bottom: 10px;
                
                img {
                    width: 100%;
                }
                &.left {
                    float: left; margin-right: 10px;
                }
                &.right {
                    float: right; margin-left: 10px;
                }                
            }
            .time {
                position: absolute; right: 15px; bottom: 3px;
                display: flex; justify-content: center; align-items: center;
                font-size: 12px; color: #949494;
            }           
        }
        @media screen and (max-width: 900px) {
            .chat-message {
                max-width: 80%;
            }
        }         
        @media screen and (max-width: 760px) {
            .chat-message {
                max-width: 100%;
            }
        }         
    }
    .chat-controls {
        position: absolute; left: 0; bottom: 0; width: 100%;
        background: #FFFFFF;
        height: #{$chatBottomControlls}px;
        padding: 0px 20px;
        background: #{ $pageBackground };
        -webkit-box-shadow: 0px -1px 5px 0px rgba(201,201,201,0.32);
        -moz-box-shadow: 0px -1px 5px 0px rgba(201,201,201,0.32);
        box-shadow: 0px -1px 5px 0px rgba(201,201,201,0.32);      
        .controlls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            .chat-input {
                padding: 10px 10px;
                outline: none;
                font-size: 14px;
                border-radius: 3px;
                border-width: 1px; border-style: solid; border-color: #edecf1;
                flex-grow: 1;            
            }
            .send {
                padding-left: 5px;
            }
        }
    }
}

// email 
.emails-page-content {
    .from {
        display: flex;
        align-items: center;
        .star {
            margin-right: 13px;
        }
    }
    .excerpt {
        color: #8c8c8c;
    }
    .time {
        text-align: right;
    }
    @media screen and (max-width: 1050px) {
        .excerpt {
            display: none;
        }
    } 
    @media screen and (max-width: 700px) {
        .subject {
            display: none;
        }
    } 
    @media screen and (max-width: 500px) {
        .email-control {
            margin-bottom: 7px;
        }
    }              
}