.pretty-scroll {
    overflow-y: auto; overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.pretty-scroll::-webkit-scrollbar-track {
    background-color: rgba(#dee2ee, .1);
}
.pretty-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(#dee2ee, .1);                            
} 
.pretty-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(#dee2ee, 1);
    border-radius: 2px;
} 

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */